<section id="aboutpg">
		<div class="container-fluid" style=" padding-left: 0px;" >
			<div  style="background-image: url(images/brown-bg4.jpg); height: auto;" >
					<div class="row"   style=" padding-right: 12px;">
			<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1 ">
			
			<h3 class="upper-footer">Our Specs</h3>
			<a href="#" class="footer1">sunglasses</a><br>
			<a href="#" class="footer1">Computer Glasses</a><br>
			<a href="#" class="footer1">Reading Glasses</a><br>
			<a href="#" class="footer1">Contact Glasses</a><br>
			<a href="#" class="footer1">Audio sunglasses</a><br>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
		<h3 class="upper-footer">About us</h3>
		<a href="#" class="footer1">contact Us</a><br>
		<a href="#" class="footer1">Who we Are</a><br>
		<a href="#" class="footer1">Press & Mentions</a><br>

	</div>
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
		<h3 class="upper-footer">Have A Question</h3>
		<a href="#" class="footer1">Frequently Asked Question</a><br>
			<a href="#" class="footer1">Which Lenses to Choose For Your Glasses?</a><br>
			<a href="#" class="footer1">What kind of lenses and coatings do you use?</a><br>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" style="    padding-right: 15px;
    padding-left: 13px;">
		<div class="row media-mail-style">
				<h3 class="upper-footer"><i class="fas fa-envelope-open-text"></i>  Send Us Mail</h3><br>
				<input  style="border-style: double;" type="Email" name="Email" placeholder=" Email">
          <button class="btn-style">Sign Up</button><br><br>
			</div><br>
			<div class="row media-mail-style">
				<h3 class="upper-footer"><i class="fas fa-address-card"></i> Need Help</h3>
				<p class="footer1">Email Us : Focus@gmail.com</p>
				<p class="footer1"> Call us : 6265XXXXXXX</p>
			</div>
			     
		</div>
	</div>
	
	<footer class="row">
		<div class="col-lg-2 col-md-3 col-sm-2 col-xs-1">
	<img src="images/owl-eyes-png-7.png" style=" height: 60px;margin-left: 20px;">
	</div>
	<div class="col-lg-4 col-md-3 col-sm-2 col-xs-1" style=" margin-top: 1%;" >
		<span><i class="far fa-copyright"></i>Copyright Focus 2020. All rights reserved.</span>
	</div>
	
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 social" style="margin-left: 278px;" >
		<span> <i class="fab fa-facebook-square"></i></span>
	</div>

	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 social">
		<span> <i class="fab fa-instagram-square"></i></span>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 social">
		<span> <i class="fab fa-twitter-square"></i></span>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 social" >
		<span> <i class="fab fa-linkedin"></i></span>
	</div>
	
	</footer> 
</div>

</div>
</section>